
@import url("simplelightbox/dist/simple-lightbox.min.css");

.gallery-image {
    width: 360px;
    height: 200px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
    align-items: center;    
}

.gallery-item {
    width: calc((100% - 48px) / 3);
    cursor: pointer;
}
 