/* Vite promo styles */
.vite-promo {
  padding: 5rem 0;
}

.vite-promo .container {
  display: flex;
  align-items: center;
  gap: 4rem;

  width: 86vw;
  margin: 0 auto;
  padding: 0 20px;
}

.vite-promo .wrapper {
  max-width: 36rem;
}
